

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
/*
   font-family: 'pretendard'; 
*/

/* 한자 폰트 noto serif hongkong*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif HK', serif;
*/
header{
    width: 100%; height: 90px;
    position: fixed;

    border: 2px solid red;
}

.menu {
    color: #fff;
    font-family: 'Pretendard-Regular';
    font-size: calc(100vw * 28 / 1920);
    display: block;
    float: right;

}

.menu a {
    color: #fff
}


.menu li {
    width: calc(100vw * 475 /1920);
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}

